<form>
  <div class="field">
    <div class="control file has-name is-fullwidth">
      <label class="file-label">
        <input class="file-input"
          type="file"
          accept=".csv"
          data-action="form#handleFileSelect"
          data-target="form.fileInput">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choose a file…
          </span>
        </span>
        <span class="file-name" data-target="form.fileName">
          No file uploaded
        </span>
      </label>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button type="button" data-action="form#uploadData" class="button is-primary">Submit</button>
    </div>
    <div class="control">
      <button type="button" data-action="form#clearFileInput" class="button is-danger">Clear</button>
    </div>
  </div>
</form>