<article class="message is-success is-hidden" data-target="form.successMessage">
  <div class="message-header">
    <p>Success</p>
    <button class="delete" aria-label="delete" data-action="form#dismissSuccessMessage"></button>
  </div>
  <div class="message-body" data-target="form.successMessageContents"></div>
</article>

<article class="message is-danger is-hidden" data-target="form.errorMessage">
  <div class="message-header">
    <p>Error</p>
    <button class="delete" aria-label="delete" data-action="form#dismissErrorMessage"></button>
  </div>
  <div class="message-body" data-target="form.errorMessageContents"></div>
</article>