<section class="section is-hidden" data-target="form.messagesSection">
  <div class="container">
    <%= render partial: 'messages' %>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">Upload Sales Data Spreadsheet</h1>
    <%= render partial: 'form' %>
  </div>
</section>